@page
@model GameLibrary.Pages.Studios.EditModel

@{
    ViewData["Title"] = SharedLocalizer["EditStudioPageTitle"];
}

<h1>@SharedLocalizer["EditStudioPageTitle"]</h1>

<h4>@SharedLocalizer["Studio"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Studio.ID" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Studio.Name" class="control-label"></label>
                <input asp-for="Studio.Name" class="form-control" aria-required="true"/>
                <span asp-validation-for="Studio.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studio.Country" class="control-label"></label>
                <input asp-for="Studio.Country" class="form-control" />
                <span asp-validation-for="Studio.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@SharedLocalizer["SaveButton"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">@SharedLocalizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
